*{
	margin: 0;
	padding: 0;
		
}

div[class^='btn']{
	display: none;
}

.animationWrap{
	width: 100%;
	height: 100vh;
	position: relative;
}


@keyframes anim{
	from{
		left: 0;
		top: 0;
	}
	to{
		left: 900px;
		top: 900px;
	}
}

.animationWrap .block1{
	width: 100px;
	height: 100px;
	background-color: pink;
	position: absolute;
	animation-name: anim;
	animation-duration: 10s;
	/*animation-iteration-count: infinite;*/
	animation-fill-mode: forwards; /* backwards / both */
}


@keyframes anim2{
	0%{
		left: 0;
		top: 0;
		background-color: red;
	}
	50%{
		left: 900px;
		top: 900px;
		background-color: orange;
	}
	100%{
		left: 0px;
		top: 0px;
		background-color: yellow;
	}
}

.animationWrap .block2{
	width: 100px;
	height: 100px;
	background-color: green;
	position: absolute;
	animation-name: anim2;
	animation-duration: 10s;
	animation-delay: 10s;
	animation-iteration-count: infinite /* any number */ ;
	animation-timing-function: linear; /* ease-in/ ease-out / ease-in-out */
	/* порядок -  animation: anim2 1s infinite linear delay; */
}